@{
    ViewBag.Title = "CONTACTANOS";
}
<h2>@ViewBag.Title.</h2>


<div class="social">
    <ul>
        <li><a href="https://www.facebook.com/sharer/sharer.php?u=https://espai.es">Comparte en Facebook</a> </li>
        <li><a href="https://api.whatsapp.com/send?text=escola%20inform%C3%A1tica%20i%20disseny%20https://espai.es">Compartir en Whatsapp</a></li>
        <li><a href="https://twitter.com/intent/tweet?text=&url=[url]&hashtags=[hashtag]">Compartir en twitter</a></li>
        <iframe scrolling="no" marginheight="0" marginwidth="0" id="gmap_canvas" src="https://maps.google.com/maps?width=408&amp;height=417&amp;hl=en&amp;q=%20sanfrancisco+()&amp;t=&amp;z=14&amp;ie=UTF8&amp;iwloc=B&amp;output=embed" width="408" height="417" frameborder="0"></iframe>
        <a href='http://maps-generator.com/es'>Maps-Generator.com</a>
        <script> type='text/javascript' src='https://embedmaps.com/google-maps-authorization/script.js?id=1ecb54f1e513157a697e48e5147fb012f0e15a1c'></script>
    </ul>
</div>

<address>
    <strong>Support:</strong>   <a href="https://mail.google.com/mail/u/0/?pli=1#inbox">porrassamuel25@gmail.com</a><br />
</address>