@{
    ViewBag.Title = "Pagina Oficial";

}
@{
    ViewBag.Title = "Pagina Oficial";

}
<link href="~/estilo.css/StyleSheet1.css" rel="stylesheet" />
<script src="//netdna.bootstrapcdn.com/bootstrap/3.1.0/js/bootstrap.min.js"></script>
<script src="//code.jquery.com/jquery-1.11.1.min.js"></script>
<!------ Include the above in your HEAD tag ---------->

<div class="container">
    <div class="row">
        <!-- Carousel -->
        <div id="carousel-example-generic" class="carousel slide" data-ride="carousel">
            <!-- Indicators -->
            <ol class="carousel-indicators">
                <li data-target="#carousel-example-generic" data-slide-to="0" class="active"></li>
                <li data-target="#carousel-example-generic" data-slide-to="1"></li>
                <li data-target="#carousel-example-generic" data-slide-to="2"></li>
            </ol>
            <!-- Wrapper for slides -->
            <div class="carousel-inner">
                <div class="item active">
                    <img src="~/img/FONDO.jpg" alt="First slide">
                    <!-- Static Header -->
                    <div class="header-text hidden-xs">
                        <div class="col-md-12 text-center">
                            <h2>
                                <span>!Bienvenido¡ <strong>Tu pagina favorita</strong></span>
                            </h2>
                            <br>
                            <h3>
                                <span>“Democratizar el comercio electrónico y ser un puente entre el comprador y vendedor”</span>
                            </h3>
                            <br>
                            <div class="">
                                <a class="btn btn-theme btn-sm btn-min-block" href="http://localhost:55131/Home/About">Vision y Mision</a>
                                <a class="btn btn-theme btn-sm btn-min-block" href="http://localhost:55131/personas">Contactanos</a>
                            </div>
                        </div>
                    </div><!-- /header-text -->
                </div>
                <div class="item">
                    <img src="~/img/FONDO1.jpg" alt="Second slide">
                    <!-- Static Header -->
                    <div class="header-text hidden-xs">
                        <div class="col-md-12 text-center">
                            <h2>
                                <span>TecnoHardw</span>
                            </h2>
                            <br>
                            <h3>
                                <span>Si a las personas les gustas, te escucharán, pero si confían en ti, harán negocios contigo.</span>
                            </h3>
                            <br>
                            <div class="">
                                <a class="btn btn-theme btn-sm btn-min-block" href="http://localhost:55131/Home/About">Vision y Mision</a>
                                <a class="btn btn-theme btn-sm btn-min-block" href="http://localhost:55131/personas">Contactanos</a>
                            </div>
                        </div>
                    </div><!-- /header-text -->
                </div>
                <div class="item">
                    <img src="~/img/FONDO3.jpg" alt="Third slide">
                    <!-- Static Header -->
                    <div class="header-text hidden-xs">
                        <div class="col-md-12 text-center">
                            <h2>
                                <span>TecnoHardw</span>
                            </h2>
                            <br>
                            <h3>
                                <span>¿Mi propuesta de valor tiene sentido para ti?.</span>
                            </h3>
                            <br>
                            <div class="">
                                <a class="btn btn-theme btn-sm btn-min-block" href="http://localhost:55131/Home/About">Vision y Mision</a>
                                <a class="btn btn-theme btn-sm btn-min-block" href="http://localhost:55131/personas">Contactanos</a>
                            </div>
                        </div>
                    </div><!-- /header-text -->
                </div>
            </div>
            <!-- Controls -->
            <a class="left carousel-control" href="#carousel-example-generic" data-slide="prev">
                <span class="glyphicon glyphicon-chevron-left"></span>
            </a>
            <a class="right carousel-control" href="#carousel-example-generic" data-slide="next">
                <span class="glyphicon glyphicon-chevron-right"></span>
            </a>
        </div><!-- /carousel -->
    </div>
</div>



<h2>Monitores</h2>
<div class="row">
    <div class="col-md-4">
        <img src="~/img/monitor1.jpg" class="img-responsive" />
        <h4>
            Monitor gamer Samsung LF22T350FH led 22 " negro 100V/240V
        </h4>

        <p>
            Lo que tienes que saber de este producto <br />
            Pantalla led de 22 ".<br />
            Tiene una resolución de 1920px-1080px.<br />
            Relación de aspecto de 16:9.<br />
            Panel IPS.<br />
            Su brillo es de 250cd/m².<br />
            Tipos de conexión: HDMI 1.4, D-Sub.<br />

        </p>
        <p><a class="btn btn-default" href="http://localhost:55131/detalle_venta_descuento">SABER MAS &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <img src="~/img/monitor2.jpg" class="img-responsive" />
        <h4>Monitor gamer Samsung T40F F24T40 led 24 " negro 100V/240V</h4>
        <p>
            Lo que tienes que saber de este producto<br />

            Pantalla led de 24 ".<br />
            Tiene una resolución de 1920px-1080px.<br />
            Relación de aspecto de 16:9.<br />
            Panel IPS.<br />
            Su brillo es de 250cd/m².<br />
            Tipos de conexión: D-Sub, HDMI 1.4.<br />
            Es giratorio y reclinable.<br />
        </p>
        <p><a class="btn btn-default" href="http://localhost:55131/detalle_venta_descuento">SABER MAS &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <img src="~/img/monitor3.jpg" class="img-responsive" width="300" />
        <h4>Monitor gamer LG 24MK430H led 23.8 " negro 100V/240V</h4>
        <p>
            Lo que tienes que saber de este producto<br />

            Pantalla led de 23.8 ".<br />
            Tiene una resolución de 1920px-1080px.<br />
            Relación de aspecto de 16:9.<br />
            Panel IPS.<br />
            Su brillo es de 250cd/m².<br />
            Tipos de conexión: D-Sub, Jack 3.5 mm, HDMI 1.4.<br />
        </p>
        <p><a class="btn btn-default" href="http://localhost:55131/detalle_venta_descuento">SABER MAS &raquo;</a></p>
    </div>
</div>
------------------------------------------------------------------------------------------------------------------------------------------------------
<h2>Servidores</h2>
<div class="row">
    <div class="col-md-4">
        <img src="~/img/servidor1.jpg" />
        <h4>Servidor Dell Power Edge T40 Intel Xeon 3.5 Ghz 16g 1tb</h4>
        <p>
            Marca	Dell<br />
            Modelo	Dell PowerEdge T40<br />
            Procesador	Intel Xeon<br />
            Disco duro	1 TB<br />

            Otras características<br />

            RAM: 16 GB<br />
        </p>
        <p><a class="btn btn-default" href="http://localhost:55131/detalle_venta_descuento">SABER MAS &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <img src="~/img/servidor2.jpg" />
        <h4>Servidor Dell T140 Intel Xeon E-2224 16gb 2tb Ppxn2 </h4>
        <p>
            Marca	Dell<br />
            Modelo	PPXN2<br />
            Procesador	Intel Xeon<br />
            Disco duro	2 TB<br />
            Otras características<br />

            RAM: 16 GB<br />
        </p>
        <p><a class="btn btn-default" href="http://localhost:55131/detalle_venta_descuento">SABER MAS &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <img src="~/img/servidor3.jpg" />
        <h4>Servidor Dell Poweredge T30 Xeon E3 Ram 8gb Hdd 1tb 2019</h4>
        <p>
            Marca	Dell<br />
            Modelo	T40 2020<br />
            Procesador	Intel Xeon<br />
            Disco duro	1 TB<br />
            Otras características<br />

            RAM: 8 GB.<br />
        </p>
        <p><a class="btn btn-default" href="http://localhost:55131/detalle_venta_descuento">SABER MAS &raquo;</a></p>
    </div>
</div>
------------------------------------------------------------------------------------------------------------------------------------------------------
<h2>Impresoras</h2>
<div class="row">
    <div class="col-md-4">
        <img src="~/img/impresora1.jpg" />
        <h4>
            Impresora HP 107W con wifi blanca y negra 110V
        </h4>
        <p>
            Lo que tienes que saber de este producto<br />

            Es monocromática.<br />
            Tecnología de impresión: láser.<br />
            Tiene entrada USB.<br />
            Imprime 20 ppm.<br />
            Cuenta con 2 bandejas.<br />
            Capacidad máxima de 150 hojas.<br />
            Soporta papel tamaño A4, A5, JIS B5, LEF A5, Oficio, Sobre C5, Sobre DL, 76 x 127 mm - 216 x 356 mm.<br />
            Incluye accesorios.<br />
            Práctica y funcional tanto para uso personal como profesional.<br />
        </p>
        <p><a class="btn btn-default" href="http://localhost:55131/detalle_venta_descuento">SABER MAS &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <img src="~/img/impresora2.jpg" />
        <h4>
            Impresora a color Epson EcoTank L3110 negra 110Vs
        </h4>
        <p>
            Lo que tienes que saber de este producto<br />

            Imprime, escanea y hace copias.<br />
            Tecnología de impresión: inyección de tinta.<br />
            Tiene entrada USB<br />
            Imprime 15 ppm a color.<br />
            Capacidad máxima de 100 hojas.<br />
            Soporta papel tamaño A4, A6, Carta, Ejecutivo, Legal, Oficio, Oficio México, 54 x 86 mm - 215 x 1200 mm.<br />
            Incluye accesorios.<br />
            Práctica y funcional tanto para uso personal como profesional. <br />
        </p>
        <p><a class="btn btn-default" href="http://localhost:55131/detalle_venta_descuento">SABER MAS &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <img src="~/img/impresora3.jpg" width="300" />
        <h4>Impresora a color Epson EcoTank L3150 con wifi negra 110V</h4>
        <p>
            Lo que tienes que saber de este producto<br />

            Imprime, escanea y hace copias.<br />
            Tecnología de impresión: inyección de tinta.<br />
            Tiene entrada USB.<br />
            Imprime 15 ppm a color.<br />
            Capacidad máxima de 100 hojas.<br />
            Soporta papel tamaño A4, A5, A6, B5, Carta, Legal, Sobre C6, Sobre DL, Sobre N10, 10 x 15 cm, 13 x 18 cm.<br />
            Incluye accesorios.<br />
            Práctica y funcional tanto para uso personal como profesional.<br />
        </p>
        <p><a class="btn btn-default" href="http://localhost:55131/detalle_venta_descuento">SABER MAS &raquo;</a></p>
    </div>
</div>
------------------------------------------------------------------------------------------------------------------------------------------------------
<h2>Teclados</h2>
<div class="row">
    <div class="col-md-4">
        <img src="~/img/teclado1.jpg" />
        <h4>Teclado gamer Weibo WB-539 QWERTY español España color negro con luz 3 colores</h4>
        <p>
            Lo que tienes que saber de este producto<br />

            Ergonómico y apto para diversos usos.<br />
            Tiene reposa muñeca.<br />
            Contiene teclado numérico.<br />
            Función antighosting incorporada.<br />
            Tipo de teclado: mecánico.<br />
            Tecla cilíndrica.<br />
            Con conector USB.<br />
            Medidas: 46cm de ancho, 18cm de alto y 3.5cm de profundidad.<br />
            Indispensable para tus actividades.<br />
            Las imágenes pueden ser ilustrativas.<br />
        </p>
        <p><a class="btn btn-default" href="http://localhost:55131/detalle_venta_descuento">SABER MAS &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <img src="~/img/teclado2.jpg" />
        <h4>Teclado gamer Redragon Kumara K552 QWERTY Outemu Blue español latinoamérica color negro con luz roja</h4>
        <p>
            Lo que tienes que saber de este producto<br />

            Ergonómico y apto para diversos usos.<br />
            Resiste a salpicaduras.<br />
            Función antighosting incorporada.<br />
            Tipo de teclado: mecánico.<br />
            Tecla cilíndrica.<br />
            Con conector USB.<br />
            Medidas: 37.5cm de ancho, 15.5cm de alto y 4.3cm de profundidad.<br />
            Indispensable para tus actividades.<br />
            Las imágenes pueden ser ilustrativas.<br />
        </p>
        <p><a class="btn btn-default" href="http://localhost:55131/detalle_venta_descuento">SABER MAS &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <img src="~/img/teclado3.jpg" />
        <h4>
            Teclado inalámbrico Logitech K400 Plus QWERTY español color negro
        </h4>
        <p>
            Lo que tienes que saber de este producto<br />

            Es inalámbrico y funciona con pilas.<br />
            Incluye touchpad.<br />
            Tipo de teclado: membrana.<br />
            Tecla plana.<br />
            Con conector USB.<br />
            Medidas: 354.3mm de ancho, 139.9mm de alto y 23.5mm de profundidad.<br />
            Indispensable para tus actividades.<br />
            Las imágenes pueden ser ilustrativas.<br />
        </p>
        <p><a class="btn btn-default" href="http://localhost:55131/detalle_venta_descuento">SABER MAS &raquo;</a></p>
    </div>
</div>


-----------------------------------------------------------------------------------------------------------------------------------------